<div class="message_board">
  <h2 class="messages_title">Messages</h2>
  <%= link_to 'Inbox', conversations_path, class: "message_close" %>
   <%= form_for [@conversation, @message] do |f| %>
    <div class="field">
      <%= f.text_area :body, placeholder: "Your message", cols: 35 %>
    </div>

    <%= f.submit "Send", class: "mail_button_lozenge" %>
  <% end %>
  <ul>
    <% @messages.each do |message| %>
     <% if message.body %>
       <li>
        <% if message.user.username ==current_user.username %>
          <div class="message_me">
            <h6 class="message_title_left"><%= message.user.username%></h6>
              <%= message.body %>
              <small><%=message.time%></small>
          </div>
          <% else %>
          <div class= "message_sender"
            <h6 class="message_title_right"><%= message.user.username%></h6>
            <%= message.body %>
            <small><%=message.time%></small>
          </div>
          <% end %> 
        </li>
      <% end %>
    <% end %>
  </ul>


</div>
