<div class="home_container signup">
  <h2 class="home_h2 signup">Update Your Details</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"   aria-controls="collapseOne">
            Edit Log In Details
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :user_image %><br />
          <%= f.file_field :user_image %>
        </div>
  
        <% if devise_mapping.confirmable? && resource.  pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.  unconfirmed_email %></div>
        <% end %>
  
        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want  to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
  
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete:  "off" %>
        </div>
        <div class="field">
          <%= f.label :membership_type_id %><br />
          <%= f.collection_radio_buttons :membership_type_id, MembershipType.where(active: true), :id, :title %>
        </div>
      </div>
     <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
       <h4 class="panel-title">
         <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"  aria-expanded="false" aria-controls="collapseTwo">
           Your Personal Details
         </a>
       </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="field">
            First Name<%= f.text_field :first_name%>
          </div>
          <div class="field">
           Last Name<%= f.text_field :last_name%>
          </div>
          <div class="field">
           Admin Level<%= select(:user, :admin_level, [['Super User', 1 ],  ['Admin Use', 2],['Trainer', 3],['Member',4]]) %>
          </div>
          <div>
           Date Of Birth<%= f.date_field :date_of_birth%>
          </div>
          <%if current_user.admin_level = 3%>
            <div class="field">
             Profile<%= f.text_field :profile%>
             </div>
          <% end %>
          <div class="field">
            Are you happy to receive notifications?<%= f.check_box :accept_comms%>
          </div>
          <div class="field">
            Are you happy to receive promotions?<%= f.check_box :accept_proms%>
          </div>
          <div class="field">
            Mobile Telephone Number<%= f.telephone_field :mobile_tel_number%>
          </div>
          <div class="field">
            Are you happy to receive text reminders?<%= f.check_box :accept_proms%>
          </div>
        </div>
      </div>
  
     <div class="panel panel-default">
       <div class="panel-heading" role="tab" id="headingThree">
         <h4 class="panel-title">
           <a class="collapsed" data-toggle="collapse" data-parent="  #accordion" href="#collapseThree"  aria-expanded="false"    aria-controls="collapseThree">
             Address Details
           </a>
         </h4>
       </div>
       <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="field">
            Post Code<%= f.text_field :post_code%>
          </div>
          <div class="field">
            House or flat, Name/Number<%= f.text_field :house_flat_name_number%>
          </div>
          <div class="field">
           Street Address<%= f.text_field :street_address, name: "address1"%>
          </div>
          <div class="field">
           Locality<%= f.text_field :locality%>
           </div>
           <div class="field">
          City<%= f.text_field :city%>
          </div>
           <div class="field">
           Membership expiry date<%= f.date_field :membership_expiry_date%>
          </div>
        </div>
      </div>
   
    <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
      <div class="actions">
        <%= f.submit "Update" %>
      </div>
      <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    <!--put render address if using postcode look up back here-->

      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
