<p id="notice"><%= notice %></p>

<h1>Membership Types</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Description</th>
      <th>Date valid from</th>
      <th>Date valid to</th>
      <th>Active</th>
      <th>Price</th>
      <th>Age eligibility lower</th>
      <th>Age eligibility upper</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @membership_types.each do |membership_type| %>
      <tr>
        <td><%= membership_type.image %></td>
        <td><%= membership_type.title %></td>
        <td><%= membership_type.description %></td>
        <td><%= membership_type.date_valid_from %></td>
        <td><%= membership_type.date_valid_to %></td>
        <td><%= membership_type.active %></td>
        <td><%= membership_type.price %></td>
        <td><%= membership_type.age_eligibility_lower %></td>
        <td><%= membership_type.age_eligibility_upper %></td>
        <td><%= link_to 'Show', membership_type %></td>
        <td><%= link_to 'Edit', edit_membership_type_path(membership_type) %></td>
        <td><%= link_to 'Destroy', membership_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membership Type', new_membership_type_path %>
