<p id="notice"><%= notice %></p>

<h1>Membership Types</h1>

<%= render "partials/back_links"%>

 
  <% @membership_types.each do |membership_type| %>
    <div class="card card-outline-primary text-xs-center">
      <div class="card-block">
        <div class="card-user-thumb">
          <%= image_tag membership_type.image %> 
        </div>
        <h4> <%= membership_type.title %></h4>
        <ul>
          <li><%= membership_type.description %></li>
          <li><%= membership_type.date_valid_from %></li>
          <li><%= membership_type.date_valid_to %></li>
          <li><%= membership_type.active %></li>
          <li><%= membership_type.price %></li>
          <li><%= membership_type.age_eligibility_lower %></li>
          <li><%= membership_type.age_eligibility_upper %></li>
          <%end%>
        </ul>
        <div class="card_bottom_nav">
        <%= link_to 'View', membership_type %>
        <% if current_user.admin_level > 1%>&nbsp|&nbsp
        <%= link_to 'Edit', edit_membership_type_path(membership_type) %>
        <% end %>
      </div>
    </div>
</div>
 












      <tr>
    
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membership Type', new_membership_type_path %>
