<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Admin Level</th>
      <th>Date Of birth</th>
      <th>Mobile Tel</th>
      <th>Accept Texts</th>
      <th>Membership Expiry Date</th>
      <th>Number of Visits</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.admin_level%></td>
        <td><%= user.date_of_birth %></td>
        <td><%= user.mobile_tel_number %></td>
        <td><%= user.accept_texts %></td>
        <td><%= user.membership_expiry_date%></td>
        <td><%= user.total_visits %></td>
        <td><%= link_to 'Show', secure_path %></td>
        <td><%= link_to 'Edit', edit_user_registration_path(user) %></td>
        <td><%= link_to 'Destroy', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
