<p id="notice"><%= notice %></p>

<h1>Users</h1>


    <% @users.each do |user| %>
    <div class="card card-outline-primary text-xs-center">
      <div class="card-block">
        <div class="card-user-thumb">
          <%= image_tag user.image, width:50 %>
        </div>
        <blockquote class="card-blockquote">
          Membership No.<%= user.id %>&nbsp Name:<%= user.first_name %>&nbsp<%= user.last_name %><br>
          Role:&nbsp<%= user.admin_level%>&nbsp Contact Number&nbsp<%= user.mobile_tel_number %>
        </blockquote>
        <div class="card_bottom_nav">
        <%= link_to 'Show', user_path(user) %>
        <%= link_to 'Edit', edit_user_registration_path %>
        </div>
      </div>
    </div>
    <% end %>

    <%= link_to 'Back To Menu', menu_path, class: "centered_back_link" %>
