<p id="notice"><%= notice %></p>

<h1>Your Activities</h1>



<% @activities_attending.each do |activity| %>
  <div class="card card-outline-primary text-xs-center">
    <div class="card-block">
      <div class="card-user-thumb">
        <%= activity.image %> 
      </div>
       <h4> <%= activity.activity_name %></h4>
       <h5><%= activity.location %></h5>
       <p> <%= activity.description %></p>
          <blockquote class="card-blockquote">
            Date: <%= activity.date %> &nbspStart Time: <%activity.start_time %>&nbspDuration:<%= activity.duration %>&nbsp<% places_available = activity.number_of_places.to_i - activity.places_taken.to_i%><%= places_available%>Creator First Name
          </blockquote>
          <div class="card_bottom_nav">
          
          <%= link_to 'View this activity', activity %>&nbsp|&nbsp
          <%= link_to 'Cancel this activity', activity %>
          </div>
        </div>
      </div>
<% end %>
<div class="centered_back_link">
  <%= link_to 'Back', menu_path %>&nbsp|&nbsp
  <%= link_to 'Choose a new activity', activities_path %>
</div>
