<p id="notice"><%= notice %></p>

<h1 class="title">Available Activities</h1>

<%= render "partials/back_links"%>



<% @activities.each do |activity| %>
  <% if activity.active %>
   <div class="card card-outline-primary text-xs-center">
     <div class="card-block">
       <div class="card-user-thumb">
         <%= image_tag activity.image %> 
       </div>
        <h4> <%= activity.activity_name %></h4>
        <h5><%= activity.location %></h5>
        <p> <%= activity.description %></p>
          <blockquote class="card-blockquote">
               Date: <%= activity.date %> &nbspStart Time: <%=   activity.start_time %>&nbspDuration:<%= activity.duration %> Places Available: <%= activity.places_available%>&nbspThis activity is being run by: <%=activity.creator.first_name%><br><%= activity.status %>
          </blockquote>

        <% if current_user.admin_level >1 %>
          <ul>
            <% activity.attendees.each do |user| %>
              <li><%= user.full_name %>
            <% end %>
          </ul>        
        <%end%>

        <div class="card_bottom_nav">
          <%= link_to 'View', activity %>
          <% if current_user.admin_level > 1%>
          &nbsp|&nbsp
          <%= link_to 'Edit', edit_activity_path(activity) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

