<!DOCTYPE html>
<html>
  <head>
    <title>MyGym</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="../scripts/crafty_postcode.class.js"></script>
    <script src="../scripts/main.js"></script>
  </head>

  <body>
       
       <%= yield %>
    </main>
  </body>
</html>
